body
  header.header 
    
    
    
    p here's the data extracted:

    p colour #{colour}
    p make	#{make}
    p year #{year}
    p plate: #{plate}
    p
    p fuelType #{fuelType}
    p
    p motStatus: #{motStatus}
    p motExpire: #{motExpire}
    p
    p taxStatus #{taxStatus}


    a(href='/') Check another car!


    